.page {
  margin: 0 auto;
  padding: 28px 0 24px;
  max-width: 1280px;
  min-height: 100%;
  font-family: 'Inter', 'Arial', sans-serif;
  color: #FFFFFF;
}
@media screen and (max-width:424px) {
  .page {
    padding-top: 16px;
  }
}