.header {
  margin: 0 48px 56px;
  max-width: 1184px;
  min-height: 52px;
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width:1279px) {
  .header {
    margin: 0 48px 56px;
    max-width: 92.5%;
  }
}
@media screen and (max-width:1024px) {
  .header {
    margin: 0 auto 48px;
    max-width: 90.6%;
  }
}
@media screen and (max-width:768px) {
  .header {
    margin: 0 auto 48px;
    max-width: 93.75%;
  }
}
@media screen and (max-width:424px) {
  .header {
    margin: 0 auto 48px;
    max-width: 90%;
    min-height: 42px;
  }
}