.lead__title {
  margin: 0 auto;
  max-width: 720px;
  min-height: 200px;
  font-weight: 900;
  font-size: 96px;
  line-height: 1.04;
  text-align: center;
}
@media screen and (max-width: 767px) {
  .lead__title {
    max-width: 85%;
    min-height: 120px;
    line-height: 1.08;
    font-size: 12vw;
  }
}
@media screen and (max-width: 520px) {
  .lead__title {
    max-width: 96%;
    font-size: 58px;
    margin: 0 2px;
  }
}
@media screen and (max-width: 424px) {
  .lead__title {
    margin: 0 auto;
    max-width: 90%;
    min-height: 88px;
    font-size: 40px;
    line-height: 1.1;
  }
}