.place__paragraph {
  margin: 0 0 26px;
}
.place__paragraph:last-child {
  margin: 0;
}
@media screen and (max-width: 1024px) and (min-width: 871px) {
  .place__paragraph {
    margin: 0 0 27px;
  }
} 
@media screen and (max-width: 870px) {
  .place__paragraph {
    margin: 0 0 25px;
  }
}