.place {
  margin: 0 0 80px;
  max-width: 100%;
  display: grid;
  grid-template-columns: 460px 1fr;
  grid-template-rows: max-content;
  gap: 48px 40px;
}
.place:last-child {
  margin: 0;
}
@media screen and (max-width: 1024px) and (min-width: 871px) {
  .place {
    grid-template-columns: 47.4% 1fr;
    gap: 48px 32px;
  }
} 
@media screen and (max-width: 870px) {
  .place {
    margin: 0 0 73px;
    grid-template-columns: 47.2% 1fr;
    gap: 48px 28px;
  }
} 
@media screen and (max-width: 600px) {
  .place {
    margin: 0 0 50px;
    grid-template-columns: 100%;
    gap: 32px;
  }
}